.explorer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.explorer__header {
  padding: 0 var(--platform-spacing-large);
}

.explorer__item--primary {
  flex: 2 2 50%;
}

.explorer__item--secondary {
  flex-shrink: 0;
  font-size: var(--platform-text-size-small);
  min-width: 130px;
  text-align: right;
  width: 15%;
}

.explorer__listing {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.explorer__metadata {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: var(--platform-spacing-base) var(--platform-spacing-xlarge);
}

.explorer__metadata-item {
  color: var(--platform-grey-500);
  font-weight: 700;
  font-size: var(--platform-text-size-small);
}

.explorer__filelist {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 var(--platform-spacing-large)
}

.explorer__filelist-item {
  align-items: center;
  background-color: transparent;
  border-radius: var(--platform-spacing-xsmall);
  border-bottom: 1px solid var(--platform-grey-300);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  padding: var(--platform-spacing-base) var(--platform-spacing-small);
  text-overflow: ellipsis;
  transition: all var(--platform-animation-speed-base) linear;
  white-space: nowrap;

  &:hover {
    background-color: transparentize($color: #000000, $amount: 0.95);
  }

  &::before {
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    flex-shrink: 0;
    margin-right: var(--platform-spacing-medium);
    height: 2.5rem;
    width: 2.5rem;
  }

  &--folder::before {
    background-color: var(--primary-100);
    -webkit-mask-image: url('../images/folder_outline.svg');
    mask-image: url('../images/folder_outline.svg');
  }

  &--file::before {
    background-color: var(--primary-100);
    -webkit-mask-image: url('../images/file_outline.svg');
    mask-image: url('../images/file_outline.svg');
  }
}

.explorer__filelist-title {
  font-size: var(--platform-text-size-large);
}

.explorer__filelist-subtitle {
  font-size: var(--platform-text-size-small);
  color: var(--platform-grey-500);
}

.explorer__empty {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 24px;
  padding: 32px;
}

.explorer__empty-title {
  margin: 0;
  margin-bottom: var(--platform-spacing-small);
}

.explorer__empty-subtitle {
  margin: 0;
}