.app {
  background-image: url('../images/background.png');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app__header {
  flex-shrink: 0;
  width: 100%;
}

.app__wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex: 2;
  height: 100%;
  width: 100%;
}